.button {
    justify-content: space-evenly;
    display: flex;
    background-color: rgb(152, 108, 194);
}

.btn {
    margin: 10px;
}

.button::hover {
    color: rgb(247, 194, 21);
}

#value {
    font-size: 90px;
}

body {
    background-color: dodgerblue;
    margin-top: 18%;
    justify-content: center;
    display: flex;
}